user nginx;
worker_processes  auto; # = number of process --> nproc
worker_rlimit_nofile 20480; # max file open by worker

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}
#-------------------------------------------------#
http {
    server_tokens off;
    include       /etc/nginx/conf/mime.types;
    default_type  application/octet-stream;

    #------log-format---------------------
    #log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                    #  '$status $body_bytes_sent "$http_referer" '
                    #  '"$http_user_agent" "$http_x_forwarded_for"';
    log_format  custom  '$request_completion $request_time $remote_addr - $remote_user [$time_local] $status '
                      '"$request" $body_bytes_sent "$http_referer" '
                      '"$http_user_agent"' '"$upstream_cache_status"' '"[$upstream_addr]"' '"$upstream_status"' '"$upstream_response_time"';
    access_log  /var/log/nginx/access.log custom;
    #large_client_header_buffers 4 8k;

    #------------------------------------------------------------------------------------------------------------------------------------#
    #General Options
    #add_header X-Frame-Options SAMEORIGIN;
    #add_header X-Content-Type-Options nosniff;
    #add_header X-XSS-Protection "1; mode=block";
    #add_header Strict-Transport-Security max-age=63072000;

    # charset                 utf-8;
    ignore_invalid_headers  on;
    #max_ranges              0;
    #postpone_output       1460;
    #recursive_error_pages   on;

    #Timeouts
    client_body_timeout 300;
    client_header_timeout 300;
    send_timeout        300;

    sendfile        on;
    #aio             on;
	
	    #directio 512;
    #output_buffers 1 2m;
    #keepalive_requests      50;
    keepalive_timeout       15 15;
    #keepalive_disable       msie6;

    tcp_nopush     off;
    tcp_nodelay    on;
    #reset_timedout_connection on;
    #server_names_hash_bucket_size 512;

    #source_charset          utf-8;
    #max file size
    client_max_body_size 10M;

    ## Limit requests per second to 250 requests  per minute. If the
    ## user's ip address goes over the limit they will be sent an
    ## error 503 for every subsequent request.
    #limit_req_zone  $binary_remote_addr  zone=gulag:10m   rate=250r/m;

    #proxy_cache_path  /dev/shm/nginx_cache  levels=1:2    keys_zone=CACHE:10m  inactive=10m  max_size=1g;
    #fastcgi_cache_path   /dev/shm/fastcgi_cache  levels=1:2  keys_zone=VLTN:10m inactive=5m;

#--------------------------------------------------------------------------------------------------------#
     #-------------LOAD BALANCING--------------------------------
     #include /etc/nginx/conf.d/params/nginx_upstream;
     #-----------------------------------------------------------#
#----------------------------------------------------------------#

server {
        listen       80;
        server_name  localhost;

        location / {
            root   /etc/nginx/html;
            index  index.html index.htm;
        }

location ~ ^/(status|ping)$ {
        access_log off;
        allow 127.0.0.1;
        deny all;
        fastcgi_pass unix:/var/run/php_fpm.sock;
        fastcgi_param SCRIPT_FILENAME $fastcgi_script_name;
		include fastcgi_params;
    }


        location /stub_status {
            stub_status on;
            access_log off;
            allow 127.0.0.1;
            deny all;
          }

        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   html;
        }

        if ($request_method !~ ^(GET|HEAD|POST)$ ) {
            return 444;
        }

        error_page    404 = /diepdh.html;
        }
    #-------------------------------------------------------------------
        #gzip
        gzip on;
        gzip_http_version 1.0;
        gzip_comp_level 5;
        gzip_proxied any;
        gzip_min_length  1100;
        gzip_buffers 16 8k;
        gzip_vary on;

        gzip_types text/plain  text/css application/x-javascript text/xml application/xml application/xml+rss text/javascript image/x-icon image/png image/gif;
        # Some version of IE 6 don't handle compression well on some mime-types, so just disable for them
        gzip_disable "MSIE [1-6].(?!.*SV1)";
        #----------------------------------------------
        #open_file_cache
        open_file_cache max=1000 inactive=20s;
        open_file_cache_valid    30s;
        open_file_cache_min_uses 2;
        open_file_cache_errors   on;
        #----------------------------------------------

    include /etc/nginx/conf.d/*.conf;    
    include /etc/nginx/sites-available/*.conf;
}

